<header class="header">
  <div class="header__bnr">
    <div class="container">
      <div class="header__inner">
        <h1 class="header__title" data-short-title="IWCWYMLS">I wrote CSS with your mother last summer</h1>
        <figure class="quote">
          <div class="quote__col">
            <div class="quote__img-container">
              <img class="quote__img"
                   src="{% if page.quoteImg %}{{ page.quoteImg }}{% else %}{{ site.data.quote.quoteImg }}{% endif %}"
                   alt="{% if page.quotePerson %}{{ page.quotePerson }}{% else %}{{ site.data.quote.quotePerson }}{% endif %}"
              />
            </div>
          </div>
          <div class="quote__col">
            <blockquote class="quote__text">{% if page.quoteText %}{{ page.quoteText }}{% else %}{{ site.data.quote.quoteText }}{% endif %}</blockquote>
            <cite class="quote__cite">&copy; {% if page.quotePerson %}{{ page.quotePerson }}{% else %}{{ site.data.quote.quotePerson }}{% endif %}</cite>
          </div>
        </figure>
      </div>
    </div>
  </div>
  <div class="header__row">
    <div class="container">
      <nav class="nav header__nav">
        <a class="nav__link" data-link="Статьи" href="/">Статьи</a>
        <a class="nav__link" data-link="О сайте" href="/about">О сайте</a>
      </nav>
    </div>
</header>
